.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
#winner{
  font-family: 'Permanent Marker', cursive;
  color:red;
}
.title{
  font-family: 'Permanent Marker', cursive;
  color:red;
}
body{
  background-color:#002f7a;
}
#userChoice{
  font-family: 'Permanent Marker', cursive;
  color:red;
}
#computerChoice{
  font-family: 'Permanent Marker', cursive;
  color:red;
}
button{
  color: White;
  background-color: red;
  font-family: 'Permanent Marker', cursive;
}
input{
  color: White;
  background-color: red;
  font-family: 'Permanent Marker', cursive;
}
.text{
  font-family: 'Permanent Marker', cursive;
  color:red;
}